@charset "utf-8"; //设置字符编码。
$colgreen:#008842;
$colft:#007f4d;
$bdcol:#a6a6a6;
$colfont:#444;
$colfontdark:#717171;
$bgcol:#e0e0e0;
$fs12:0.12rem;
$fs14:0.14rem;
html,
body {
    background-color: #f7f8f8;
    font-size: 100px;
    color: $colfont;
}

// banner部分
#banner {
    // height: 5rem;
    position: relative;
    // banner图
    #banner_img {
        height: 5rem;
        overflow: hidden;
        position: relative;
        li {
            width: 100%;
            overflow: hidden;
            text-align: center;
            height: 5rem;
            transition: all 2s;
            // animation: banner 3s 1;
            // transition: transform 3.5s linear;
            // transform: scaleX(1) scaleY(1);
            position: absolute;
            top: 0;
            left: 0;
        }
        ul {
            li {
                transition: transform 3.5s linear;
                transform: scaleX(1) scaleY(1);
            }
        }
        li:nth-of-type(1) {
            opacity: 1;
            background: url('https://img05.yiguoimg.com/d/others/200603/9288740478691523.jpg') no-repeat;
            background-position: center;
            // transform: scaleX(1.1) scaleY(1.1);
        }
        li:nth-of-type(2) {
            opacity: 0;
            background: url('https://img05.yiguoimg.com/d/others/190830/9288738997806878.jpg') no-repeat;
            background-position: center;
            // transform: scaleX(1.1) scaleY(1.1);
        }
    }
    // //动画
    // @keyframes banner {
    //     0% {
    //         transform: scaleX(1.1) scaleY(1.1);
    //     }
    //     100% {
    //         transform: scaleX(1) scaleY(1);
    //     }
    // }
    // 圆点
    .yuandian {
        font-size: $fs12;
        position: absolute;
        bottom: 0.12rem;
        left: 43%;
        height: 0.12rem;
        zoom: 1;
        z-index: 3;
        ul {
            .active {
                background-color: $colgreen;
            }
            li {
                float: left;
                text-indent: -999rem;
                width: 0.12rem;
                height: 0.12rem;
                background-color: #b5b2a8;
                margin: 0 0.05rem;
                border-radius: 50%;
            }
            li:hover {
                cursor: pointer;
            }
        }
    }
    //左右按键
    .btn_lr {
        zoom: 1;
        z-index: 1;
        a {
            display: none;
            width: 0.4rem;
            height: 1rem;
            position: absolute;
            top: 50%;
            margin-top: -0.5rem;
            background: url(../img/banner-btn.png) no-repeat;
            opacity: 0.3;
        }
        #left {
            left: 0;
            background-position: 0 0;
        }
        #right {
            right: 0;
            background-position: -0.5rem 0;
        }
        #left:hover {
            display: block;
            opacity: 0.7;
        }
        #right:hover {
            display: block;
            opacity: 0.7;
        }
        // #left:hover~#right {
        //     display: block;
        //     // opacity: 0.7;
        // }
        // #right:hover~#left {
        //     display: block;
        //     // opacity: 0.7;
        // }
        // #right:hover .btn_lr:first-child {
        //     display: block;
        // }
    }
}

#banner_img:hover .btn_lr a {
    display: block;
}

//列表样式
.dhwarp {
    width: 12rem;
    margin: 0 auto;
}

#daohang {
    position: absolute;
    // overflow: hidden;
    // left: 0;
    top: 0;
    z-index: 8;
    font-size: $fs12;
    .title {
        position: relative;
        width: 1.8rem;
        height: 0.38rem;
        background-color: #008842;
        font-weight: 900;
        text-align: center;
        line-height: 0.38rem;
        color: white;
        font-size: 0.16rem;
        cursor: pointer;
    }
    ul {
        background-color: rgba($color: #ffffff, $alpha: 0.9);
        // width: 1.8rem;
        height: 4.62rem;
    }
    .supitem {
        width: 1.8rem;
        height: 0.42rem;
        padding: 0.09rem 0 0.09rem 0.15rem;
        font-size: $fs14;
        color: #444;
        line-height: 0.24rem;
        // position: relative;
        i {
            display: inline-block;
            vertical-align: middle;
            margin-right: 0.1rem;
            width: 0.24rem;
            height: 0.24rem;
            background: url(../img/sy-nav-icon.png) no-repeat;
            background-position: 0 0;
            transition: all 0.5s;
        }
        span {
            display: inline-block;
            transition: all 0.5s;
        }
        s {
            display: none;
            margin-left: 0.4rem;
            text-decoration: none;
            color: $colgreen;
            display: none;
        }
        em {
            display: none;
            width: 0.1rem;
            height: 0.41rem;
            background-color: rgba($color: #f9f9f9, $alpha: 0.95);
            position: absolute;
        }
    }
    @mixin emsty($top) {
        z-index: 9;
        display: block;
        top: $top;
        right: -0.08rem;
    }
    //------
    .supitem:nth-of-type(1):hover em {
        @include emsty(0.38rem);
    }
    .supitem:nth-of-type(2):hover em {
        @include emsty(0.8rem);
    }
    .supitem:nth-of-type(3):hover em {
        @include emsty(1.22rem);
    }
    .supitem:nth-of-type(4):hover em {
        @include emsty(1.64rem);
    }
    .supitem:nth-of-type(5):hover em {
        @include emsty(2.06rem);
    }
    .supitem:nth-of-type(6):hover em {
        @include emsty(2.48rem);
    }
    .supitem:nth-of-type(7):hover em {
        @include emsty(2.90rem);
    }
    .supitem:nth-of-type(8):hover em {
        @include emsty(3.32rem);
    }
    .supitem:nth-of-type(9):hover em {
        @include emsty(3.74rem);
    }
    .supitem:nth-of-type(10):hover em {
        @include emsty(4.16rem);
    }
    //------
    .supitem:nth-of-type(1) i {
        background-position: -0.48rem 0;
    }
    .supitem:nth-of-type(3) i {
        background-position: -0.96rem 0;
    }
    .supitem:nth-of-type(4) i {
        background-position: -1.2rem 0;
    }
    .supitem:nth-of-type(5) i {
        background-position: -1.44rem 0;
    }
    .supitem:nth-of-type(6) i {
        background-position: -1.68rem 0;
    }
    .supitem:nth-of-type(7) i {
        background-position: -1.92rem 0;
    }
    .supitem:nth-of-type(8) i {
        background-position: -2.16rem 0;
    }
    .supitem:nth-of-type(9) i {
        background-position: -2.40rem 0;
    }
    .supitem:nth-of-type(10) i {
        background: url(../img/nav-last.png) no-repeat;
    }
    .supitem:hover {
        width: 1.8rem;
        background-color: white;
        border: 0.01rem solid #999;
        border-right: none;
        width: 1.82rem;
        // text-indent: 0.1rem;
        color: $colft;
    }
    .supitem:hover i,
    .supitem:hover span {
        transform: translate(0.1rem);
    }
    .supitem:hover s {
        display: inline-block;
    }
    .supitem:nth-of-type(1):hover .subitem {
        display: block;
    }
    .supitem:nth-of-type(2):hover .subitem {
        display: block;
    }
    .supitem:nth-of-type(3):hover .subitem {
        display: block;
    }
    .supitem:nth-of-type(4):hover .subitem {
        display: block;
    }
    .supitem:nth-of-type(5):hover .subitem {
        display: block;
    }
    .supitem:nth-of-type(6):hover .subitem {
        display: block;
    }
    .supitem:nth-of-type(7):hover .subitem {
        display: block;
    }
    .supitem:nth-of-type(8):hover .subitem {
        display: block;
    }
    .supitem:nth-of-type(9):hover .subitem {
        display: block;
    }
    .supitem:nth-of-type(10):hover .subitem {
        display: block;
    }
    .subitem {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 1.8rem;
        display: none;
        width: 2rem;
        background-color: rgba($color: #ffffff, $alpha: 0.9);
        height: 5rem;
        padding: 0.2rem;
        border: solid 0.01rem #999;
        h4 {
            font-size: 0.2rem;
            font-weight: normal;
            text-decoration: underline;
            color: $colft;
        }
        #bgpic {
            img {
                display: block;
                width: 2.5rem;
                height: 1.5rem;
            }
            // margin-top: 3rem;
            position: absolute;
            right: -0.8rem;
            bottom: 0.2rem;
        }
        p {
            margin-top: 0.1rem;
            a {
                display: inline-block;
                cursor: pointer;
                margin: 0.05rem 0.1rem;
                color: #999;
                font-size: $fs12;
            }
        }
    }
    .subitem a:hover {
        color: $colft;
    }
}

#F1,
#F2,
#F3,
#F4,
#F5,
#F6,
#F7,
#F8 {
    // border: solid 0.01rem #ccc;
    width: 12rem;
    height: 5rem;
    margin: 0 auto;
    font-size: $fs12;
    margin-top: 0.18rem;
}

@mixin bgposition($left,
$top) {
    display: inline-block;
    width: 0.45rem;
    height: 0.32rem;
    padding: 0.1rem 0.07rem 0.04rem;
    margin-right: 0.1rem;
    font-size: $fs14;
    color: white;
    line-height: 0.18rem;
    background: url(../img/main-nav-icon.png);
    font-style: normal;
    background-position: $left $top;
}

@mixin h3sty {
    float: left;
    height: 0.32rem;
    line-height: 0.32rem;
    color: #646464;
    font-size: 0.18rem;
}

@mixin pspsty {
    display: inline-block;
    padding: 0 0.07rem;
    color: #4e4e4e;
    line-height: 0.12rem;
    border-right: 0.01rem solid #4e4e4e;
}

%ff1f2 {
    li {
        float: left;
        background-color: white;
        overflow: hidden;
    }
    .c0:hover {
        cursor: pointer;
    }
    .c1,
    .c2,
    .c3,
    .c4,
    .c5,
    .c6 {
        height: 2.31rem;
        border-top: 0.01rem solid #d5d5d5;
        border-right: 0.01rem solid #d5d5d5;
        img {
            transition: all 0.5s;
        }
    }
    .c4,
    .c5,
    .c6 {
        height: 2.32rem;
        border-bottom: 0.01rem solid #d5d5d5;
    }
    .c1:hover,
    .c2:hover,
    .c3:hover,
    .c4:hover,
    .c5:hover,
    .c6:hover {
        cursor: pointer;
        img {
            transform: translateX(0.1rem);
        }
    }
    .c0 img {
        display: inline-block;
        width: 2.75rem;
        height: 4.62rem;
    }
    .c1 img,
    .c2 img,
    .c5 img,
    .c6 img {
        display: inline-block;
        width: 2.30rem;
        height: 2.30rem;
    }
    .c3 img,
    .c4 img {
        display: inline-block;
        width: 4.61rem;
        height: 2.30rem;
    }
}

//F1
#F1 {
    .f1title {
        margin-bottom: 0.05rem;
        height: 0.32rem;
        h3 {
            @include h3sty();
            i {
                @include bgposition(0,
                0);
            }
        }
        h3:hover {
            cursor: pointer;
        }
        p {
            float: right;
            line-height: 0.32rem;
            span {
                @include pspsty();
            }
            span:nth-last-of-type(1) {
                border-right: none;
                padding-right: 0;
            }
            span:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    //图片列表
    .f1main {
        ul {
            @extend %ff1f2;
        }
    }
}

//F2
#F2 {
    .f2title {
        margin-bottom: 0.05rem;
        height: 0.32rem;
        h3 {
            @include h3sty();
            color: #45c6ce;
            i {
                @include bgposition(-1.84rem,
                0);
            }
        }
        h3:hover {
            cursor: pointer;
        }
        p {
            float: right;
            line-height: 0.32rem;
            span {
                @include pspsty();
            }
            span:nth-last-of-type(1) {
                border-right: none;
                padding-right: 0;
            }
            span:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    //图片列表
    .f2main {
        ul {
            @extend %ff1f2;
        }
    }
}

//F3,F4,F6,F8样式
%F3F4F6F8 {
    li {
        float: left;
        background-color: white;
        overflow: hidden;
        img {
            display: block;
        }
    }
    .c0:hover {
        cursor: pointer;
    }
    .c1,
    .c6 {
        border-top: 0.01rem solid #d5d5d5;
        border-right: 0.01rem solid #d5d5d5;
    }
    .c1,
    .c6,
    .c7 {
        border-bottom: 0.01rem solid #d5d5d5;
    }
    li img {
        transition: all 0.5s;
    }
    img:hover {
        transform: translateX(0.1rem);
    }
    .c0 img:hover {
        transform: none;
    }
    .c2 {
        border-bottom: 0.01rem solid #d5d5d5;
        width: 4.42rem;
        height: 3.85rem;
        div {
            overflow: hidden;
            float: left;
            // display: block;
            width: 2.21rem;
            height: 1.92rem;
            border-right: 0.01rem solid #d5d5d5;
            border-top: 0.01rem solid #d5d5d5;
        }
    }
    .c7 {
        width: 6.77rem;
        height: 0.77rem;
        position: absolute;
        left: 2.75rem;
        top: 3.86rem;
        padding: 0.11rem;
        border-right: 0.01rem solid #d5d5d5;
        img {
            float: left;
            margin-right: 0.2rem;
        }
    }
    .c6 {
        height: 4.63rem;
    }
}

//F3
#F3 {
    .f3title {
        margin-bottom: 0.05rem;
        height: 0.32rem;
        h3 {
            @include h3sty();
            color: #f0c000;
            i {
                @include bgposition(-0.92rem,
                0);
            }
        }
        h3:hover {
            cursor: pointer;
        }
        p {
            float: right;
            line-height: 0.32rem;
            span {
                @include pspsty();
            }
            span:nth-last-of-type(1) {
                border-right: none;
                padding-right: 0;
            }
            span:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    //图片列表
    .f3main {
        ul {
            height: 4.63rem;
            position: relative;
            @extend %F3F4F6F8;
        }
    }
}

//F4
#F4 {
    .f4title {
        margin-bottom: 0.05rem;
        height: 0.32rem;
        h3 {
            @include h3sty();
            color: #e08683;
            i {
                @include bgposition(-1.38rem,
                0);
            }
        }
        h3:hover {
            cursor: pointer;
        }
        p {
            float: right;
            line-height: 0.32rem;
            span {
                @include pspsty();
            }
            span:nth-last-of-type(1) {
                border-right: none;
                padding-right: 0;
            }
            span:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    //图片列表
    .f4main {
        ul {
            height: 4.63rem;
            position: relative;
            @extend %F3F4F6F8;
        }
    }
}

//F3,F4,F6,F8样式
%F5F7 {
    li {
        float: left;
        background-color: white;
        overflow: hidden;
        img {
            display: block;
        }
    }
    .c0:hover {
        cursor: pointer;
    }
    .c1,
    .c4 {
        border-top: 0.01rem solid #d5d5d5;
        border-right: 0.01rem solid #d5d5d5;
    }
    .c1,
    .c4,
    .c5 {
        border-bottom: 0.01rem solid #d5d5d5;
    }
    li img {
        transition: all 0.5s;
    }
    img:hover {
        transform: translateX(0.1rem);
    }
    .c0 img:hover {
        transform: none;
    }
    .c2 {
        border-bottom: 0.01rem solid #d5d5d5;
        width: 4.42rem;
        height: 3.85rem;
        div {
            overflow: hidden;
            float: left;
            // display: block;
            width: 4.42rem;
            // height: 1.92rem;
            border-right: 0.01rem solid #d5d5d5;
            border-top: 0.01rem solid #d5d5d5;
        }
    }
    .c5 {
        width: 6.77rem;
        height: 0.77rem;
        position: absolute;
        left: 2.75rem;
        top: 3.86rem;
        padding: 0.11rem;
        border-right: 0.01rem solid #d5d5d5;
        img {
            float: left;
            margin-right: 0.2rem;
        }
    }
    .c4 {
        height: 4.63rem;
    }
}

//F5
#F5 {
    .f5title {
        margin-bottom: 0.05rem;
        height: 0.32rem;
        h3 {
            @include h3sty();
            color: #b84f00;
            i {
                @include bgposition(-3.69rem,
                0);
            }
        }
        h3:hover {
            cursor: pointer;
        }
        p {
            float: right;
            line-height: 0.32rem;
            span {
                @include pspsty();
            }
            span:nth-last-of-type(1) {
                border-right: none;
                padding-right: 0;
            }
            span:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    //图片列表
    .f5main {
        ul {
            height: 4.63rem;
            position: relative;
            @extend %F5F7;
        }
    }
}

//F6
#F6 {
    .f6title {
        margin-bottom: 0.05rem;
        height: 0.32rem;
        h3 {
            @include h3sty();
            color: #764e00;
            i {
                @include bgposition(-2.30rem,
                0);
            }
        }
        h3:hover {
            cursor: pointer;
        }
        p {
            float: right;
            line-height: 0.32rem;
            span {
                @include pspsty();
            }
            span:nth-last-of-type(1) {
                border-right: none;
                padding-right: 0;
            }
            span:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    //图片列表
    .f6main {
        ul {
            height: 4.63rem;
            position: relative;
            @extend %F3F4F6F8;
        }
    }
}

//F7
#F7 {
    .f7title {
        margin-bottom: 0.05rem;
        height: 0.32rem;
        h3 {
            @include h3sty();
            color: #940606;
            i {
                @include bgposition(-4.15rem,
                0);
            }
        }
        h3:hover {
            cursor: pointer;
        }
        p {
            float: right;
            line-height: 0.32rem;
            span {
                @include pspsty();
            }
            span:nth-last-of-type(1) {
                border-right: none;
                padding-right: 0;
            }
            span:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    //图片列表
    .f7main {
        ul {
            height: 4.63rem;
            position: relative;
            @extend %F5F7;
        }
    }
}

//F8
#F8 {
    .f8title {
        margin-bottom: 0.05rem;
        height: 0.32rem;
        h3 {
            @include h3sty();
            color: #3ca3dc;
            i {
                @include bgposition(-3.23rem,
                0);
            }
        }
        h3:hover {
            cursor: pointer;
        }
        p {
            float: right;
            line-height: 0.32rem;
            span {
                @include pspsty();
            }
            span:nth-last-of-type(1) {
                border-right: none;
                padding-right: 0;
            }
            span:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    //图片列表
    .f8main {
        ul {
            height: 4.63rem;
            position: relative;
            @extend %F3F4F6F8;
        }
    }
}

// ----------------------------
// 楼梯样式
#louti_warp {
    position: fixed;
    top: 3rem;
    left: 50%;
    width: 0.4rem;
    height: 3.6rem;
    margin-left: -6.55rem;
    z-index: 20;
}

#louti {
    display: none;
    position: relative;
    width: 0.4rem;
    height: 0.4rem;
    color: #666;
    cursor: pointer;
    font-size: $fs12;
    font-family: Arial;
    z-index: 20;
    li {
        width: 0.4rem;
        height: 0.4rem;
        a {
            display: none;
            width: 0.4rem;
            height: 0.4rem;
            padding: 0.06rem 0.08rem;
            line-height: 0.14rem;
            color: #fff;
            background-color: $colgreen;
        }
        span {
            display: inline-block;
            // visibility: hidden;
            width: 0.4rem;
            height: 0.4rem;
            background: url(../img/louti.png) no-repeat;
            // border: 0.01rem solid #ccc;
            background-position: 0 0;
        }
        i {
            display: block;
            width: 10px;
            margin: auto;
            height: 0;
            line-height: 0;
            font-size: 0;
            border-top: 1px solid #d7d7d7;
        }
    }
    // 第2个li
    li:nth-of-type(2) {
        span {
            background-position: -1.6rem 0;
        }
    }
    // 第3个li
    li:nth-of-type(3) {
        span {
            background-position: -0.8rem 0;
        }
    }
    // 第4个li
    li:nth-of-type(4) {
        span {
            background-position: -1.2rem 0;
        }
    }
    // 第5个li
    li:nth-of-type(5) {
        span {
            background-position: -3.2rem 0;
        }
    }
    // 第6个li
    li:nth-of-type(6) {
        span {
            background-position: -2rem 0;
        }
    }
    // 第7个li
    li:nth-of-type(7) {
        span {
            background-position: -3.6rem 0;
        }
    }
    // 第8个li
    li:nth-of-type(8) {
        span {
            background-position: -2.8rem 0;
        }
    }
    // 最后一个li
    li:last-of-type {
        a {
            display: none;
            width: 0.4rem;
            height: 0.4rem;
            background: url(../img/hdb.png) no-repeat;
            background-size: 200% 200%;
            background-position: -0.4rem 0;
        }
        span {
            display: inline-block;
            width: 0.4rem;
            height: 0.4rem;
            background: url(../img/hdb.png) no-repeat;
            background-size: 200% 200%;
        }
        i {
            border: none;
        }
    }
    li:hover {
        i {
            display: none;
        }
        span {
            display: none;
        }
        a {
            display: inline-block;
        }
    }
    .li_show {
        i {
            display: none;
        }
        span {
            display: none;
        }
        a {
            display: inline-block;
        }
    }
}